{{#partial "content"}}
    <div class="grey lighten-3 posts">
        <p>Content:</p>
        <p>{{ post.content }}</p>
        <h4>Created At: </h4>
        <p>{{ post.createdAt }}</p>
        <h5>Post Status: </h5>
        <p>
            {{#if post.published }}
                <i class="material-icons">done</i> Published
            {{else}}
                <i class="material-icons">edit</i> Draft
            {{/if}}
            <a href="/posts/{{post.id}}/update" style="margin-left: 5rem;" class="btn waves-effect waves-light green accent-4">Edit</a>
            <a href="/posts/{{post.id}}/delete" style="margin-left: 1rem;" class="btn waves-effect waves-light red darken-1">Delete</a>
        </p>
    </div>
{{/partial}}

{{> layout.hbs }}